@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "Lovelace";
  src: url("../assets/fonts/Lovelace-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Lovelace-ExtraLight.woff") format("woff"), url("../assets/fonts/Lovelace-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  touch-action: pan-y;
}

html, body {
  font-size: 10px;
  font-style: normal;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 100;
  color: #4d4d4d;
  letter-spacing: -0.05px;
}

img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.link-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row span + span {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row span + span::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: 0;
}

.container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2rem;
}

.section-cover {
  position: relative;
  font-size: 0;
  line-height: 0;
}
.section-cover .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  padding: 90px 20px;
  font-size: 3.6rem;
  color: #f0f0f0;
  letter-spacing: -1px;
  font-family: "Lovelace";
  font-weight: 200;
  z-index: 4;
}
.section-cover .image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%;
}
.section-cover .image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d0ca;
  z-index: 0;
}
.section-cover .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  z-index: 2;
}

.main-title {
  padding-bottom: 40px;
  font-size: 1.4em;
  letter-spacing: -1px;
  font-family: "Lovelace";
  font-weight: 200;
  text-align: center;
}

.section-invitation {
  text-align: center;
  padding: 120px 20px 60px;
}
.section-invitation .desc {
  padding: 0 0 20px;
  line-height: 2.2rem;
}
.section-invitation .row {
  justify-content: center;
}
.section-invitation .row span::before {
  background-color: #4d4d4d;
}

.section-info {
  padding: 0 0 30px;
  gap: 4px;
}
.section-info a {
  padding: 4px 0;
  width: 100%;
  justify-content: center;
}
.section-info a .name {
  font-weight: 400;
}
.section-info a .name::before {
  background-color: transparent;
  width: 6px;
  margin: 0;
}

.section-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 60px;
  gap: 10px;
}
.section-date .calendar {
  width: 100%;
  padding-bottom: 30px;
}
.section-date .calendar .month {
  padding: 0 20px 20px 18px;
}
.section-date .calendar .week {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.section-date .calendar .week span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 14.2%;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0.8;
}
.section-date .calendar .week span.grey {
  opacity: 0.4;
}
.section-date .calendar .week span.black {
  position: relative;
  opacity: 1;
  font-weight: 700;
  color: #fff;
}
.section-date .calendar .week span.black::after {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  right: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: #7a81ba;
  z-index: -1;
  margin: auto;
  border-radius: 50%;
}
.section-date .title {
  font-size: 1.5rem;
  font-weight: 400;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.section-slide {
  padding: 60px 0;
}
.section-slide .swiper-button-next, .section-slide .swiper-button-prev {
  color: #4d4d4d !important;
}
.section-slide .swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}
.section-slide .swiper-button-prev {
  left: 15px;
}
.section-slide .swiper-button-next {
  right: 15px;
}
.section-slide .main-title {
  padding-left: 20px;
  padding-right: 20px;
}
.section-slide .swiper-slide {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
}
.section-slide .swiper-slide .slide-image {
  position: relative;
  cursor: pointer;
}
.section-slide .swiper-slide .slide-image::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #d5d4d1;
  z-index: 0;
}
.section-slide .swiper-slide .slide-image img {
  position: relative;
  font-size: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.section-location {
  padding: 60px 0;
}
.section-location .location-map {
  position: relative;
  width: 100%;
  padding-bottom: 66.666%;
  margin-bottom: 20px;
  background-color: #ccc;
}
.section-location .location-map::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  content: "지도";
  transform: translate(-50%, -50%);
}
.section-location .align {
  padding: 0 20px;
  text-align: center;
}
.section-location .align p {
  padding: 10px 0 0;
  font-size: 1.2rem;
}
.section-location .title {
  font-weight: 400;
}
.section-location .desc {
  padding: 0 20px;
  word-break: keep-all;
  word-wrap: break-word;
}
.section-location .info-tel {
  font-size: 1.2rem;
}
.section-location .noti {
  padding: 40px 0;
}
.section-location dl {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.section-location dl dt {
  padding-right: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  min-width: 128px;
  font-weight: 400;
  box-sizing: border-box;
}
.section-location dl dd {
  justify-content: flex-end;
}
.section-location dl dd span {
  position: relative;
  display: block;
  padding-left: 10px;
  padding: 0 0 2px 10px;
}
.section-location dl dd span::before {
  position: absolute;
  display: inline-block;
  top: 8px;
  left: 0;
  content: "";
  width: 4px;
  height: 1px;
  background-color: #4d4d4d;
}

.section-account {
  padding: 0 20px 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-account button {
  padding: 14px;
  height: 40px;
  max-height: 40px;
  background-color: #4d4d4d;
  color: #fff;
}
.section-account button.button-share {
  position: relative;
  width: 100%;
  background-color: #ffeb00;
  color: #3c1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-account button.button-share::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  background-image: url(../images/kakaotalk_sharing_btn_small.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}

.overlay-layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}
.overlay-layer .bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.overlay-layer .bg-layer::before {
  display: none;
}
.overlay-layer .layer-inner {
  opacity: 0;
  z-index: 4;
  font-size: 1.4rem;
  line-height: 2rem;
}

.layer-account {
  line-height: 2rem;
}
.layer-account .layer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  background-color: #fff;
  padding: 20px;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.layer-account .wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 5px;
}
.layer-account .content .row {
  justify-content: space-between;
}
.layer-account .content .row .title {
  font-weight: 400;
  padding-bottom: 10px;
}
.layer-account .content .row button {
  padding: 6px 8px;
  background-color: #4d4d4d;
  color: #fff;
  font-size: 1.2rem;
}
.layer-account .content .desc {
  font-size: 1.2rem;
}
.layer-account .button-close-layer {
  width: 100%;
  height: 36px;
  margin: 40px auto 0;
  background-color: #4d4d4d;
  color: #fff;
}

.is-lock {
  overflow: hidden;
}

.swiper-button-next, .swiper-button-prev {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #fff !important;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px !important;
}

.layer-gallery {
  display: block;
  pointer-events: none;
}
.layer-gallery .layer-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  opacity: 0;
}
.layer-gallery .icon-close {
  position: absolute;
  z-index: 20;
  top: 0px;
  right: 0px;
  display: block;
  width: 58px;
  height: 58px;
  cursor: pointer;
}
.layer-gallery .icon-close::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  width: 36px;
  height: 36px;
  margin: auto;
  background-image: url(../images/icon-close.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.layer-toast .layer-inner {
  opacity: 1;
  padding: 6px 10px;
  width: calc(100% - 40px);
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.t {
  opacity: 0;
  transform: translateY(25px);
}

.l {
  opacity: 0;
  transform: translateY(20px);
}/*# sourceMappingURL=main.css.map */